<h1 class="pa5">My App all pages</h1>

<main class="pl5 pt3 pb3">
  {{outlet}}
</main>

<footer class="pa5">
  <h3>site map</h3>
  {{#link-to "index" class="ma3 dim link gray"}}
    Index
  {{/link-to}}


  {{#link-to "infos" class="ma3 dim link gray"}}
    Infos
  {{/link-to}}
</footer>
